/**/body{
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6em;/*defines height between two vertical lines*/
    margin:0;
}
.container{
    width: 80%;
    margin:auto;/*gives equal amount of margin from both the sides*/
    overflow: hidden;
}
/*The overflow CSS property sets what to do when an element's content is too big to fit in its block formatting context. It is a shorthand for overflow-x and overflow-y.
visible :
Content is not clipped and may be rendered outside the padding box.
hidden :
Content is clipped if necessary to fit the padding box. No scrollbars are provided.
scroll :
Content is clipped if necessary to fit the padding box. Browsers display scrollbars whether or not any content is actually clipped. (This prevents scrollbars from appearing or disappearing when the content changes.) Printers may still print overflowing content.
auto :
Depends on the user agent. If content fits inside the padding box, it looks the same as visible, but still establishes a new block-formatting context. Desktop browsers provide scrollbars if content overflows.
*/

#main-header{
    background-color:coral;
    color:#fff; 
}

#nav-bar{
background-color:black;
color:white; 
}
#nav-bar ul{
    padding: 0px;
    list-style: none;
}
/*list style is use to remove or change the bullet points of the list*/
#nav-bar li{
    display: inline; 
}


#nav-bar a{
    color: #fff;
    text-decoration:none;
    /*text decoration is used to remove the underline of the text in anchor tab*/
    font-size: 18px;
    margin: 10px;
    padding: 10px 10px;
}
#nav-bar a:hover{
    background-color: coral;
}
#showcase{
    background-image:url("../images/image3.jpeg");
    /*is used to put image as a backgroung in a block tag*/ 
    background-position: center center;
    /*it is used to position the tag*/
    min-height: 300px;
    /*min height: */
    margin-bottom: 30px;
    text-align: center;
}
#showcase h1{
    color: black;
    font-size: 55px;
    padding: 20px 0px;
    background-color: yellow;
    text-align: center;
}
#showcase p{
    color: black;
    background-color: yellow;
    border-radius:20px;
    margin-top: 50px; 

}
#main{
    float: left;
    width: 70%;
    padding: 0px 30px;
    box-sizing: border-box;
}
/*box-sizing*/

#sidebar{
    float: right;
    width: 30%;
    padding: 0px 30px;
    background-color:black;
    color: white;
    box-sizing: border-box;
    /*box-sizing*/
}

#footer{
    background: black;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

@media(max-width:600px){
    #main{
        display: block;
        float: none;
        width: 100%;
    }
    #sidebar
    {
        display: block;
        float: none;
        width: 100%;
    }
    #nav-bar a{
        color: #fff;
        text-decoration:none;
        font-size: 18px;
        margin: 5px;
        padding: 5px 5px;
    }
    /*@media*/
}